doctype html
html
  head
    title= title
    lonk(rel ='stylesheet',href ='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src = '/bootstrap/js/bootstrap.min.js')
